main {
  max-width: 500px;
}

#title {
  /* text-align: center; */
  margin-top: 20px;
}

/* #search-bar {
  display: flex;
  justify-content: center;
} */

#input-container {
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  /* min-width: 50px; */
  /* max-width: 50px; */
}

#category-input {
  background-image: url("https://img.icons8.com/ios-glyphs/30/search--v1.png");
  background-repeat: no-repeat;
  padding-left: 35px;
  height: max-content;
  /* border-radius: 50%; */
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
  max-width:fit-content;
  gap: 50px;
}

#category-link {
  text-decoration: none;
  color: black;
  /* margin: 50px; */
}

.ind-category {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: small;
}


.ind-category > input {
  box-sizing: border-box;
  width: 80%;
  height: 30%;
  border: 1 px solid red;
}